language: python

python:
  - 2.7

install:
  - pip install .
  - pip install -r requirements.txt

script:
  - python setup.py test          
#  travis-sphinx -n build
#after_success: travis-sphinx deploy
